
/*estilizando todos os elementos, garatindo que seja mais fácil
controlar o tamanho dos elementos, com o border-box; 
*/
* {
  box-sizing: border-box;
}

/*estilizando o corpo do site, deixando com margem igual a 0; 
definindo o espaço interno igual a zero(com o padding); garatindo que seja mais fácil
e por fim definindo a fonte para todos os elementos e tamanho.
*/
body {
  margin: 0;  
  font-family: "Poppins", sans-serif;
  font-size: 15.8px;
 

}

/* estilizando a  1º banner(imagem), com espaçamento interno de 15px e alinhado ao centro. */
.cabecalho {
	
	padding: 15px;
	text-align: center;


	
}

/* estilizando o  2º banner(imagem), com espaçamento interno de 8px e alinhado ao centro. */

.cabecalho2{
	
	padding: 8px;
	text-align: center;
	
	
}

/* estilizando os links de navegação, com o overflow: hidden, os elementos
do conteúdo cortado no menu ficam oculto; e por fim, adiciono cor de fundo cinza.
  */
.menu{
	
	overflow: hidden;
	background-color: #333;
	
}

/* estilizando os links de navegação superior; onde o float permite que fiquem na horizontal;
com o display block, exibo os elementos como blocos; a cor da fonte é branca; o texto é alinhado
a direita; e o espaço interno é de 6px 41px; finalizando, removo o sublinhado do link com o 
text-decoration: none.*/
.menu a {
	
	float: left;
	display:block;
	color: white;
	text-align: right;
	padding: 6px 41px;
	text-decoration: none;
	
	
	
}

/* mudando a cor ao passar o mouse; ao passar o mouse a cor de fundo é cinza
e a cor da fonte é preta. */
.menu a:hover{
	
	background-color: #ddd;
	color: black;
	
	
}

/* cria três colunas iguais que flutuam uma ao lado da outra, onde o float permite
que fiquem na horizontal; com largura 33% e espaço interno de 15px. */
.coluna{
	
  float: left;
  width: 33%;
  padding: 15px;
	
}

/*estilizando os h2; mudando a cor de fundo e alinhando ao centro.*/
h2{
	
	background-color:  rgba(255,0,0,0.3);
	text-align: center;
	
	
	
}



/* limpa os floats após as colunas, ou seja, permite que as colunas(elementos) fiquem corretamente,
mesmo com outras colunas proxímas uma da outra. */
.conteudoPrincipal:after {
  content: "";
  display: table;
  clear: both;

}


/*estilizando o formulário, onde a cor da fonte serà branca; organizando os elementos com
o display flex, facilitando a manipulação; centralizo os elementos horizontalmente; 
com o min-height a altura mímina do formularío é de 70vh, que é visível em uma porção da tela; 
mudo a fonte; e adiciono espaçamento interno de 13px 40px. */
.form{
	
	color: #fff;
	display: flex;
	justify-content: center;
	min-height: 70vh;
	font-family: "Poppins", sans-serif; 
	padding: 13px 40px;
	
}

/*ainda estilizando o formulário, onde defino o espaçamento interno; coloco borda ao redor
 do formulário, deixando ela arrendondada  e mudo a cor de fundo.*/
form{
	
	padding: 1em 3em 1.4em 3em;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 16px;
	background-color: rgb(198 94 205 / 49%);	
	
}

/*estilizando o h1; alterando o tamanho da fonte e alinhando ao centro.*/

.form h1{
	
	font-size: 36px;
	text-align: center;
	
	
}

/*estilizando os campos do formulário, onde a posição é relativa, a largura será de 100%
e altura de 15px, por fim definindo a margem 30px 0 (criando um espaço acima e abaixo). */
.form .campo{
	
	position: relative;
	width: 100%;
	height: 15px;
	margin: 30px 0;
	
}

/*estilizando os campos com as perguntas do formulário, definindo o width(largura) 
e height(altura) em 100% fazendo com o campo ocupe todo o espaço disponivel; removendo a 
borda padrão do campo com o border none; removendo o contorno do campo; definindo uma borda inferior
de 1px solida com cor branca; e por fim, definindo o espaçamento interno em 7px
e espaçamento inferior de 1px;  */
.campo label{
	
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
    border-bottom: 1px solid white;
	padding: 7px;
	padding-bottom: 1px;

}

/*estilizando o botão; onde a largura(width) é de 100% e altura(height) de 45px;
 e fundo(background) branco; removo a borda padrão do campo com o border none e removo o
contorno do campo; arrendondando a borda com o border-radius; adiciono uma sobra ao redor;
 defino o cursor do mouse como uma mão ao passar em cima do elemento com o cursor pointer; defino
o cursor do mouse como uma mão ao passar em cima do elemento com o cursor pointer;
a fonte do elemento em 16px; altero a cor do texto para tom cinza escuro;
e por fim, defino a espessura da fonte como 600. */
.form .btn{
	
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0,0,0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
	
	
}

/*estilizando os selects, organizando os elementos com o display flex, facilitando a manipulação;
 centralizo os elementos horizontalmente; onde a posição é absoluta, posiciono os elementos na parte
 inferior e no topo; defino a largura mínima para 250px; e altura de 30px.  */
.select-container{
	
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	top: 0;
	min-width: 250px;
	height: 30px;
	
	
}

/*estilizando os select individualmente, mudando a posição deles manualmente.*/
.select1{
	
	position: absolute;
	left: 134px;
	bottom: 24px;
	
	
}

/*estilizando os select individualmente, mudando a posição deles manualmente.*/
.select2{
	
	position: absolute;
	left: 118px;
	bottom: 24px;
	
	
}

/*estilizando os select individualmente, mudando a posição deles manualmente.*/
.select3{
	
	position: absolute;
	left: 330px;
	bottom: 24px;
	
	
}

/*estilizando os select individualmente, mudando a posição deles manualmente.*/
.select4{
	
	position: absolute;
	left: 234px;
	bottom: 24px;
	
	
}

/*estilizando os select individualmente, mudando a posição deles manualmente.*/
.select5{
	
	position: absolute;
	left: 287px;
	bottom: 24px;
	
	
}


/*estilizando os select, removo a borda do elemento; o appearance permite alterar a aparência
do elemento; adiciono espaçamento interno; altero a cor da fonte, a de plano de fundo e o tamanho
da fonte; e arredondo a borda com o border-radius.  */
#campoSelect{
	
	border: none;
	appearance: none;
	padding: 0 30px 0 15px;
	color: white;
	background-color: hsl(246.98deg 58.83% 71.31% / 76%);
	font-size: 13.8px;
	border-radius: 2px;
	
}

/*estilizando o icon dos selects, mudando a largura e altura; modifico o display; centralizo 
verticalmente e centralizo horizontalmente; além de mudar a cor de fundo.*/
.select-container .icon-container{
	
	width: 27px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:hsla(120,100%,75%,0.3);
	
	
}

/*estilizando o icon dos selects, mudando o tamanho e alterando a cor para branco.*/
.icon-container i {
	
	font-size: 14px;
	color: white;
	
	
}

/*customizando o calendario, alterando a cor de fundo; o espaçamento interno; a fonte;
 a cor da fonte; o tamanho da fonte; removendo a borda e o contorno do campo; 
por fim, arredondo a borda.
 */
input[type="date"]{
	
	background-color: hsl(246.98deg 58.83% 71.31% / 76%);
	padding: 4px;
	font-family: "Roboto Mono", monospace;
	color: white;
	font-size: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
	
}

/*customizando o icon de calendario, alterando a cor de fundo; o espaçamento interno;
defino o cursor do mouse como uma mão ao passar em cima do elemento com o cursor pointer;
por fim, arredondo a borda. */
::-webkit-calendar-picker-indicator{
	
	background-color: white;
	padding: 2px;
	cursor: pointer;
	border-radius: 3px;
}

/*estilizando o campo de texto, adicionando o espaçamento interno; arredondo a borda; altero a
cor da borda para transparente; e defino a largura para 12em.  */
#campoTexto{
	
	
	padding: 5px;
	border-radius: 3px;
	border-color: transparent;
	width: 12em;
}



